.form-control{
    display: inline-block !important;
}

.contenedor-datos-iconos{
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
}

.contenedor-logo-datos{
    height: 50vh;
}

